<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computers</title>

    <a href="{% url 'computer' %}">computers</a>
    <a href="{% url 'home' %}">home</a>



    
       


</head>
<body>
    <h1>computer</h1>

    <ul>

    </ul>




<form action="">


    <h3>comp_id</h3>
    <p><input type="text" name="" id="first"
    placeholder="comp id"></p>

    
    <h3>comp_brand</h3>
   <p> <input type="text" class="input" id="second"
    placeholder="comp brand"></p>


    
    <h3>comp_lab</h3>
    <p><input type="text" class="input" id="third"
    placeholder="comp lab"></p>


    
    <h3>ram</h3>
    <p><input type="text" class="input" id="fourth"
    placeholder="ram"></p>


</form>


</body>
</html>