<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> YODRIM COMPUTER LABARATORY</title>

    <a href="{% url 'home' %}">home</a>
    <a href="{% url 'labaratory' %}">labaratory</a>
    <a href="{% url 'computer' %}">computers</a>
    <a href="{% url 'attendant' %}">attendant</a>
    <a href="{% url 'login' %}">login here</a>

</head>

<body>
     
     <div id="main-content">

        
        <div id="header-div">

            <h1 id="heading"> 
                COMPUTER LABARATORIES</h1> 
        </div>
             
               <div id="menu-div">
                
                <ul id="menu-items">
                    <li>home </li>
                    <li> lab_attendant </li>
                    <li> labaratory </li>
                    <li>computer</li>
    
                
            </ul>
        
               </div>

                 
               
              
       
      <h3> Welcome to yodrim lab!</h3>

           <h2>
      description.
        </h2>


      <div id="border-body">


    
            <p> yodrim computer labaratory offers students the latest
                technology and software tools to enhance there learning experience.
                designed for optimal productivity, 
                it provides a quiet and comfortable environment for coding,
                research and collaborative projects!</p>


        
             <div id="back-end">

                <h1>our services</h1>
           
             

                <ul>
                <li class="unordered-list" >coding</li>
                <li class="unordered-list">reserch environment</li>
                <li class="unordered-list">software installation</li>
                <li class="unordered-list"> data analysis</li>
                </ul>
             </div>


           

             <div id="front-end">
                

                <ol>
                    <li class="list" >lab attendant</li>
                    <li class="list">labaratory</li>
                <li class="different">computer blowing</li>
                <li class="list"> web design</li>
        
                </ol>
             </div>
        
        
            
        

</div>



</body>
</html>