<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab_attendant</title>

    <a href="{% url 'attendant' %}">attendant</a>
    <a href="{% url 'home' %}">home</a>
</head>
<body>
    <h1>LAB_ATTENDANTS</h1>








    <form action="">


        <h3>attendant_id</h3>
       <p> <input type="text" class="input" id=""
        placeholder="attendant_id id"></p> 
    
        
        <h3>attendant_name</h3>
        <p><input type="text" class="input" id=""
        placeholder="attendant_name"></p>
    
    
        
        <h3>gender</h3>
      <p> <input type="text" class="input" id=""
        placeholder="gender"></p>
    


</body>
</html>