<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labaratory</title>

    <a href="{% url 'labaratory' %}">labaratory</a>
    <a href="{% url 'home' %}">home</a>
    
</head>
<body>
    <h1 >LABARATORY</h1>








    <form action="">


        <h3>lab_id</h3>
        <p><input type="text" claas="input" id=""
        placeholder="lab id"></p>
    
        
        <h3>lab name</h3>
        <p><input type="text" class="input" id=""
        placeholder="lab_name"></p>
    
    
        
        <h3>lab location</h3>
       <p> <input type="text" class="input" id=""
        placeholder="lab_location"></p>
    
    
        
        <h3>number of computers</h3>
       <p> <input type="text" class="input" id=""
        placeholder="number of computers"></p>
    
        
    </form>

   




</body>
</html>