<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="">
    <a href="{% url 'login' %}">login here</a>
</head>

<h1>login</h1>


<FORM action="">
    

      <p><input type="text" class="input" id=""
      placeholder="name"></p>
     
     <p> <input type="text" class="input" id=""
    placeholder="email"> </p>



</FORM>




<body>

  <a href="{%url 'home' %}">submit</a>
    
  </button></a> 
</body>
</html>